Repository casemcx/semi-admin: changes, and which lefthook commands are due for each by the changed paths.
All: check-apps, check-packages, check-server

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    check-apps:
      glob: "apps/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true --config-path=./biome.json --colors=off {staged_files}

    check-packages:
      glob: "packages/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true --config-path=./biome.json --colors=off {staged_files}

    check-server:
      glob: "server/admin-server/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true --config-path=./server/admin-server/biome.json --colors=off {staged_files}

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}

feat: 特性: 🚀 文件夹重构
  packages/ui/src/blur-text/index.ts
  packages/ui/src/components/BlurText/BlurText.tsx
  packages/ui/src/components/BlurText/README.md
  packages/ui/src/components/BlurText/index.ts
  packages/ui/src/components/Galaxy/Galaxy.tsx
  packages/ui/src/components/Galaxy/README.md
  packages/ui/src/components/Galaxy/fragment.glsl
  packages/ui/src/components/Galaxy/index.ts
  packages/ui/src/components/Galaxy/vertex.glsl
  packages/ui/src/components/LiquidEther/LiquidEther.tsx
  packages/ui/src/components/LiquidEther/README.md
  packages/ui/src/components/LiquidEther/index.ts
  packages/ui/src/components/SplashCursor/README.md
  packages/ui/src/components/SplashCursor/SplashCursor.tsx
  packages/ui/src/components/SplashCursor/index.ts
  packages/ui/src/galaxy/index.ts
  packages/ui/src/index.ts
  packages/ui/src/liquid-ether/index.ts
  packages/ui/src/splash-cursor/index.ts
Due: check-packages

chore: 构建: 📦️ component build
  apps/admin-web/src/routes/__admin/user/permission/page.tsx
  packages/components/rslib.config.ts
Due: check-apps, check-packages

feat: components
  packages/components/package.json
  packages/components/src/form/BaseForm/BaseForm.tsx
  packages/components/src/form/components/Image/ImageCarousel.tsx
  packages/components/src/form/components/ReadonlyField/ReadonlyField.tsx
  packages/components/src/form/layouts/ModalForm/ModalForm.tsx
  packages/components/src/hooks/use-form-placeholders.ts
  packages/components/src/index.tsx
  packages/components/src/provider/ConfigProvider/ConfigProvider.tsx
  packages/components/src/provider/ConfigProvider/index.ts
  packages/components/src/provider/ConfigProvider/locales/en-US.ts
  packages/components/src/provider/ConfigProvider/locales/index.ts
  packages/components/src/provider/ConfigProvider/locales/zh-CN.ts
  packages/components/src/provider/ConfigProvider/store.ts
  packages/components/src/provider/ConfigProvider/types.ts
  packages/components/src/provider/index.ts
  packages/components/src/table/ProTable/ProTable.tsx
  packages/hooks/src/use-table-query.ts
  pnpm-lock.yaml
Due: check-packages

test: 测试: ✅ testing
  packages/components/rstest.config.ts
  packages/components/rstest.setup.ts
  packages/components/src/form/components/FormField/__test__/FormField.test.tsx
  packages/components/src/form/components/InputField/__test__/InputField.test.tsx
  packages/components/src/form/components/SelectField/__test__/SelectField.test.tsx
  packages/components/src/hooks/__test__/use-form-placeholders.test.ts
  packages/components/src/hooks/__test__/use-table-columns.test.ts
  packages/components/src/provider/ConfigProvider/__test__/ConfigProvider.test.tsx
  packages/components/src/table/ProTable/__test__/utils.test.ts
  packages/components/src/types/testing.d.ts
  packages/components/tests/index.test.tsx
Due: check-packages

feat: scan
  apps/admin-web/src/modern.runtime.ts
  apps/admin-web/src/plugins/index.ts
  apps/admin-web/src/plugins/react-scan.ts
  apps/package.json
  pnpm-lock.yaml
Due: check-apps

feat: react版本
  apps/admin-web/src/plugins/react-scan.ts
  apps/package.json
  package.json
  pnpm-lock.yaml
Due: check-apps

fix: components构建
  packages/components/rslib.config.ts
Due: check-packages

feat: react-scan
  apps/package.json
  package.json
  pnpm-lock.yaml
Due: none

feat: scan
  apps/admin-web/src/plugins/react-scan.ts
  apps/package.json
  pnpm-lock.yaml
Due: check-apps

chore: 构建: 📦️ win 启动异常
  .vscode/settings.json
  apps/admin-web/package.json
  apps/admin-web/src/routes/layout.tsx
  apps/package.json
  pnpm-lock.yaml
Due: check-apps

feat: 构建
  .vscode/settings.json
  packages/components/gulpfile.js
  packages/components/package.json
  pnpm-lock.yaml
Due: check-packages

fix: 修复: 🧩 admin layout css异常
  apps/admin-web/src/plugins/react-scan.ts
  apps/admin-web/src/routes/__admin/index.module.less
Due: check-apps

feat: 特性: 🚀 toast 配置化
  apps/admin-web/src/routes/__admin/user/permission/page.tsx
  apps/admin-web/src/routes/__admin/user/role-permission/page.tsx
  apps/admin-web/src/routes/__admin/user/role/page.tsx
  apps/admin-web/src/routes/__admin/user/user-list/page.tsx
  apps/admin-web/src/routes/__admin/user/user-role/page.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/use-toast.ts
Due: check-apps, check-packages

feat: 特性: 🚀 暂存
  apps/admin-web/src/routes/__admin/user/permission/page.tsx
  apps/admin-web/src/routes/__admin/user/role-permission/page.tsx
  apps/admin-web/src/routes/__admin/user/role/page.tsx
  apps/admin-web/src/routes/__admin/user/user-list/page.tsx
  apps/admin-web/src/routes/__admin/user/user-role/page.tsx
  docs/crud-guide.md
  packages/hooks/src/index.ts
  packages/hooks/src/use-form-state.ts
  packages/hooks/src/use-table-state.ts
Due: check-apps, check-packages

feat: 特性: 🚀 暂存
  packages/hooks/package.json
  packages/hooks/src/useLoading/index.ts
  packages/hooks/src/useProTable/index.ts
  packages/hooks/src/useProTable/types.ts
  packages/hooks/src/useTableState.ts
  pnpm-lock.yaml
Due: check-packages

feat: 特性: 🚀 useProTable
  .gitignore
  packages/hooks/package.json
  packages/hooks/rstest.config.ts
  packages/hooks/rstest.setup.ts
  packages/hooks/src/useProTable/__test__/index.test.tsx
  packages/hooks/src/useProTable/index.ts
  packages/hooks/src/useProTable/types.ts
  packages/hooks/src/useTableState.ts
  pnpm-lock.yaml
Due: check-packages

fix: 修复: 🧩 启动报错
  .gitignore
  apps/admin-web/src/api/tools/index.ts
  apps/admin-web/src/hooks/useImageTool.ts
  apps/admin-web/src/routes/__admin/index.module.less
  apps/admin-web/src/routes/layout.tsx
  apps/admin-web/src/types/user/user-role.ts
  apps/admin-web/src/utils/tools/ImageTool.ts
  apps/admin-web/src/utils/tools/README.md
  apps/admin-web/src/utils/tools/ToolManager.ts
  apps/admin-web/src/utils/tools/index.ts
  apps/admin-web/types/auto-imports.d.ts
Due: check-apps
